body {
  margin: 0;
  background-color: #303841;
  overflow-x: hidden;
  font-family: sans-serif;
  color: #f0f0f0;
  text-align: center;
}

#navbar {
  background-color: #be3144;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  font-size: 20px;
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

#about {
  background-color: black;
  display: flex;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  justify-content: center;
  min-height: 300px;
  flex-direction: column;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}

#about p {
  color: #be3144;
  font-size: 30px;
}
p {
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

#work {
  background: #45567d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8em;
}

button a {
  display: flex;
  padding: 0;
}

#work h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px white solid;
  padding: 10px 0;
}

button {
  background-color: #303841;
  color: white;
  height: 50px;
  font-size: 25px;
  width: 150px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  border: 1px solid #303841;
  border-radius: 2px;
}

button:hover {
  background-color: #be3144;
  color: white;
  border: 1px solid #be3144 !important;
}

.fas.fa-chevron-right {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

button:hover {
  border: 1px solid white;
}
button:hover .fas.fa-chevron-right {
  transform: translateX(2px);
}

#contact {
  background-color: #303841;
  padding-top: 5em;
}

#contact h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#contact p {
  padding: 0 20px 20px 20px;
}

#contact ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 25px;
  padding-bottom: 150px;
  cursor: pointer;
  flex-wrap: wrap;
}

#contact li {
  display: flex;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  transition: transform 0.3s ease-out;
  padding: 5px 1em;
}

#contact li:hover {
  padding-top: 2em;
  transform: translateY(8px);
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 1em;
}

@media (max-width: 550px) {
  h1 {
    font-size: 50px;
  }
img {
  height: 200px;
  width: 200px;
}
}

@media (max-width: 430px) {
  a {
    padding: 1em;
  }
}

@media (max-width: 300px) {
  a {
    padding: 1em 7px;
  }
}
